/* body {
    background-image: url("../pics/back4.png");
	background-size: cover;
	background-repeat: no-repeat;
	

	margin: 0;
	padding: 0;
} */
.formdiv{
     width: 400px;
     height: 500px;
     font-family: 'Potta One', cursive;
   /* position: relative;*/
    margin-top:150px ;
    /* margin-left:50px ;  */
    background-color: rgba(177, 70, 168, 0.329);
    border-radius: 5%;
    box-shadow: 5px 5px #9DD8F7, 10px 10px #f98ebb, 15px 15px #FAF088;
    /* box-shadow: 10px 10px 8px #888888; */
    /* box-shadow: 5px 5px 5px 5px #888888; */
    position: relative;
}

.myform{
    padding: 15%;
}
/* input{
    margin-left: 20% ;
    width: 60%;
    height:40px;
    border: solid 2px #9C27B0;
} */

/* .submit{
    margin-left: 30% ;
    width: 40%;
    height:40px;
    background-color: #ffff1a;
   border: solid 2px #9C27B0;
  
   font-weight: bold;
}

.title{
    margin-left: 40% ;
    margin-top: 30% ;
    font-size: large;
    font-weight: bold;
} */

.mybutton{
    height: 50px;
    width: 180px;
    margin-top: 30px ;
    margin-left:40px ;
    background-color: #FAEF82;
    border: solid 1px #FAEF82;
    border-radius: 5%;
    font-family: 'Potta One', cursive;
    box-shadow: 5px 5px #9DD8F7, 10px 10px #f98ebb;
    
}
.mybutton:hover {
    background-color: #f98ebb;
  }
/* .mytext{
    border: solid 1px #FAEF82; 
} */

.s1{
position: absolute;
    margin-top: 60px ;
   
    margin-left:150px ;
    
}

.text{
    margin-top:80px ;
}

.text2{
    margin-top:40px ;
}
.dont{
    margin-top:15px;
    margin-left:45px ;
}

.do{
    margin-left:30px ;
    margin-top:13px ;
}

/* .text3{

} */

/* .signin-main{
    background-image: url("../pics/signback.png");  
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0%;
} */


/* .mymaincon{
    width: 500px;
    height: 500px;
} */