.listButtons {
    list-style: none;
    margin-bottom: 1000px;
    text-align: center;
}

.buttons {
    background-color: #ff3385;
    color: white;
    padding: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border: none;
    
}

.player {
    margin-left: 100px;
    margin-top: 50px;
    display: inline-block;
   position: absolute;
    text-align: center;
    font-weight: 1000;
    font-size: 50px;
   
    color: rgb(8, 8, 8);
}

.moves {
      /* margin: 20px auto; */
    display: inline-block;
    position:absolute;
    margin-top: -200px;
    margin-left: 100px;
    
    height: 10px;
}


.board{
    width: 1000px;
}

