
/* body {
  font-family: "Lato", sans-serif;
} */


  .navsect{
     height: 350px;
    width: 250px; 
     margin-top: -400px;
     margin-left: 100px;


  }
  .p{
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    cursor: pointer;
    width: 100%;
    /* background-color: #A4DEF8; */
    border-radius: 10px;
    font-family: Century Gothic;
    letter-spacing: 5px;
  }
  .navdiv{
    /* margin-left: auto; */
    margin-right: auto;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-top: 12%;
   transition-duration: 0.2s;
   
  
  }
  .p:hover{
    /* background: white; */
    color: black;
   
  }
  .navdiv:nth-child(odd){
    transform: perspective(300px) rotateY(45deg);
    box-shadow: -2px 2px 7px gray;
  }
  .navdiv:nth-child(even){
    transform: perspective(300px) rotateY(-45deg);
      box-shadow: 2px 2px 7px gray;
  }
  .navdiv:hover{
    transform: rotateY(0);
    background: white;
    color: black;
    box-shadow: 0px 0px 0px;
  }
  
.navsect p a{
  color: black;
  text-decoration: none;
}

