.songsbody{
    /* overflow-y: scroll; */
}

.allVid{
    /* display: flex;
    flex-wrap: wrap; */
    /* margin:-10px; */
    /* width: 500px; */
    /* flex-direction: row-reverse; */
    /* padding: -0.5%; */
}
.youtubeLink{ 


    
           /* margin-top: 100px;
        margin-right: 90px; */
        border-radius: 50%;  
        width: 160px;
        height: 150px;
        margin-top: -48px;
        margin-left:-46px ;
    
        display: flex;
    
}

/* .divofallvid{ */
    /* width: 200px;
    margin-top: 200px; */
    /* position: absolute; */
    
/* }  */

/* .ALL{
    padding: 1%;
    background-color: rgba(177, 70, 168, 0.329);
    border-radius: 5%;
    width:50%;
    height: 50px;
    box-shadow: 5px 5px #9DD8F7, 10px 10px #F98EBB, 15px 15px #FAF088;
    margin-left: 790px;
    margin-top: -618px;
} */

 .vee{ 
    padding: 5%;
    background-color: #c8e6f48a;
    border-radius: 50%;
    width:65px;
    height: 55px;
    /* box-shadow: 5px 5px #9DD8F7; */
    margin-left: 90px;
    margin-top: 10px; 
    
    flex-shrink: 3;
    box-shadow: 5px 7px 5px #b6b5b5;
} 

.songs{
text-align: center;
}

.youtubecontainer{
    margin-top: 80px;
    margin-left: 210px;
    width:100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* flex: 1 1 160px;   */
    /* flex-direction: row | row-reverse | column | column-reverse; */

}
.iframe{
    width: 400px;
    height: 300px;
  margin-top: 50px;
    margin-left: 500px;
    border-left: 40px black solid;
    border-right: 40px black solid;
}

.allSongsDiv{
    margin-top: 3%;
   
}
.songsTitle{
    
    margin-left: 38%;
  color: #593b74;
  font-size: 100px;
  
}

.h1divv{
margin-top: 150px;
}

.mainVid{
    width: 500px;
    height: 230px;
    
    
}