
.app-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #444;
  /* border: 4px solid black; */
}

.piano-container {
  display: inline-flex;
  margin-top: 300px;
  margin-left: 350px;

  border-top: 5px solid rgb(3, 3, 10);
  border-right: 5px solid rgb(3, 3, 10);
  border-left: 5px solid rgb(3, 3, 10);
  border-collapse: collapse;
  box-shadow: 5px 10px 18px #888888;
}

.piano-natural-key {
  width: 50px;
  height: 300px;
  cursor: pointer;
  background: #fcdeeb;
  border: solid 3px #472f3a;
  margin: 0 2px;
  color: #444;
  padding: 10px;
  border-radius: 0 0 3px 3px;
  border-bottom: 5px solid rgb(3, 3, 10);
}

.piano-text {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1rem;
}

.piano-natural-key-playing {
  /* border-bottom: 10px solid rgb(10, 156, 182); */
  /* color: blue; */
}

.piano-accidental-key-wrapper {
  position: relative;
  width: 0;
}

.piano-accidental-key {
  position: absolute;
  cursor: pointer;
  background: rgb(17, 17, 17);
  transform: translateX(-50%);
  width: 30px;
  height: 170px;
  border-radius: 0 0 3px 3px;
  border : 3px solid #444;
  border-top: none;
  padding: 5px;
  outline: none;
  color: #dbdbdd;
}
