

.loader {
    background: #f7dfed;
    background:#f7dfed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

 .first{
    color: purple;
    
    margin-top: 90px;
    float: left;
    margin-left:150px;
} 

.second{
   width:190px;
   margin-left: -180px;
   margin-top: 180px;
   border-radius: 25px;
   /* position:absolute; */
}
.third{
   
    margin-left: -235px;
    margin-bottom: -80px;
    /* position:absolute; */
    
    
} 
.fourth{
    float: right;
    margin-left: 160px;
    margin-bottom: 10px;
    /* margin-top:30px; */
    /* margin-right: 20px;   */
    width:80%;
    height: 500px;
    overflow-y: scroll;
}
.five{
    /* /* width:190px; */
 
 margin-top: 90px; 
  margin-left: 210px;
  
}

.par{
    background-color: rgba(177, 70, 168, 0.329);
    border-radius: 5%;
    width:35%;
    height: 550px;
    box-shadow: 5px 5px #9DD8F7, 10px 10px #F98EBB, 15px 15px #FAF088;
    margin-left: 790px;
   
    margin-top: -618px;
   
    
}

.part1{
    background-color: rgba(177, 70, 168, 0.329);
    border-radius: 5%;
    width:35%;
    height: 550px;
    box-shadow: -5px 5px #9DD8F7, -10px 10px #F98EBB, -15px 15px #FAF088;
    margin-left: 260px;
    margin-bottom: 66px;
    margin-top:100px;
    margin-right: 20px; 
}

.but{
    background-color: rgba(231, 195, 228, 0.329);
    border-radius: 5%;
    
}

/* .imgand{
    position: relative;
    width: 18%;
    height: 10%;
} */


.storyImage{
    width:250px;
    height: 250px;
    box-shadow: 5px 5px #549af5, 10px 10px #F98EBB, 15px 15px #FAF088;
    margin:20px;
    background-color: #B298C8;
    margin-left:50px;
    margin-top:60px ;
    border-radius: 4%;
    
}

.imagest{
    margin-top:20px;
    width:210px;
    height:200px;
    margin-top:28px;
    border-radius: 4%;
}



a:link {
    text-decoration: none;
  }


/***********************************************************/

.infocardContainer * {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
  }
  h2 {
    font-weight: 600; font-style: italic; font-family: "Fira Sans Condensed", sans-serif;
  }
  header {
    height: 2em;
    background-color: #111122;
    margin: 0 0 0 0;
    padding: auto;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    color: white;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: #555566;
  }
  a:hover {
    text-decoration: underline;
  }
  .infocardContainer {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: rgb(0,159,255);
    background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
    transition: all 500ms ease-in;
    transition-delay: 1s;
    margin: auto;
    margin-top: 60px;
    --margin-top: 100px;
    margin-left:170px;
  }
  .infocardContainer:hover {
    width: 500px;
    border-radius: 100px 10px 100px 100px;
    transition: all 1s ease-out;
  }
  
  .infocardContainer div {
    text-color: white;
    flex-shrink: 1;
    width: 100%;
    --background-color: green;
  }
  .infocardContainer div * {
    display: flex;
    --flex: inherit;
    overflow: hidden;
    text-overflow: hidden;
    --background-color: yellow;
    color: white;
    white-space: nowrap;
    width: 0;
    height: auto;
    transition: all 450ms ease-in;
    transition-delay: 1s;
  }
  .infocardContainer:hover div *{
    --background-color: purple;
    display: flex;
    visibility: visible;
    transition: all 1s ease-out;
    transition-delay: 500ms;
    width: 100%;
    height: auto;
  }
  
  .infocardContainer #main, .infocardContainer #main img{
    --background-color: red;
    height: 200px;
    width: 200px;
    padding-right: 10px;
    border-radius: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }
  .infocardContainer #main img{
    height: 180px;
    width: 180px;
    transition: none;
    display: float;
    position: relative;
    border: 10px solid white;
    margin: 0 0 0 0; padding: 0 0 0 0;
  }
  .infocardContainer #textbois {
    position: relative;
  }
  .infocardContainer #textbois #hotlinks {
    max-width: 60%;
    max-height: 30px;
    
    --background-color: white;
    position:absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 13px;
  }
  .infocardContainer #textbois #hotlinks * {
    background-color: white;
    max-width: 30px;
    --margin: 0 1px 0 1px;
    border-radius: 25px;
  }
  /*TODO: animate copy main transition style for info*/
  .infocardContainer #textbois #hotlinks *:hover {
    
    
  }




  /***************/

 .infocardContainer2 * {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
  }
  h2 {
    font-weight: 600; font-style: italic; font-family: "Fira Sans Condensed", sans-serif;
  }
  header {
    height: 2em;
    background-color: #111122;
    margin: 0 0 0 0;
    padding: auto;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    color: white;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: #555566;
  }
  a:hover {
    text-decoration: underline;
  }
  .infocardContainer2 {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: rgb(0,159,255);
    background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
    transition: all 500ms ease-in;
    transition-delay: 1s;
    margin: auto;
    margin-top: -190px;
    --margin-top: 100px;
    margin-left:600px;
  }
  .infocardContainer2:hover {
    width: 500px;
    border-radius: 100px 10px 100px 100px;
    transition: all 1s ease-out;
  }
  
  .infocardContainer2 div {
    text-color: white;
    flex-shrink: 1;
    width: 100%;
    --background-color: green;
  }
  .infocardContainer2 div * {
    display: flex;
    --flex: inherit;
    overflow: hidden;
    text-overflow: hidden;
    --background-color: yellow;
    color: white;
    white-space: nowrap;
    width: 0;
    height: auto;
    transition: all 450ms ease-in;
    transition-delay: 1s;
  }
  .infocardContainer2:hover div *{
    --background-color: purple;
    display: flex;
    visibility: visible;
    transition: all 1s ease-out;
    transition-delay: 500ms;
    width: 100%;
    height: auto;
  }
  
  .infocardContainer2 #main, .infocardContainer2 #main img{
    --background-color: red;
    height: 200px;
    width: 200px;
    padding-right: 10px;
    border-radius: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }
  .infocardContainer2 #main img{
    height: 180px;
    width: 180px;
    transition: none;
    display: float;
    position: relative;
    border: 10px solid white;
    margin: 0 0 0 0; padding: 0 0 0 0;
  }
  .infocardContainer2 #textbois {
    position: relative;
  }
  .infocardContainer2 #textbois #hotlinks {
    max-width: 60%;
    max-height: 30px;
    
    --background-color: white;
    position:absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 13px;
  }
  .infocardContainer2 #textbois #hotlinks * {
    background-color: white;
    max-width: 30px;
    --margin: 0 1px 0 1px;
    border-radius: 25px;
  }

  /***************/

  .infocardContainer3 * {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
  }
  h2 {
    font-weight: 600; font-style: italic; font-family: "Fira Sans Condensed", sans-serif;
  }
  header {
    height: 2em;
    background-color: #111122;
    margin: 0 0 0 0;
    padding: auto;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    color: white;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: #555566;
  }
  a:hover {
    text-decoration: underline;
  }
  .infocardContainer3 {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: rgb(0,159,255);
    background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
    transition: all 500ms ease-in;
    transition-delay: 1s;
    margin: auto;
    margin-top: -190px;
    --margin-top: 100px;
    margin-left:1015px;
  }
  .infocardContainer3:hover {
    width: 500px;
    border-radius: 100px 10px 100px 100px;
    transition: all 1s ease-out;
  }
  
  .infocardContainer3 div {
    text-color: white;
    flex-shrink: 1;
    width: 100%;
    --background-color: green;
  }
  .infocardContainer3 div * {
    display: flex;
    --flex: inherit;
    overflow: hidden;
    text-overflow: hidden;
    --background-color: yellow;
    color: white;
    white-space: nowrap;
    width: 0;
    height: auto;
    transition: all 450ms ease-in;
    transition-delay: 1s;
  }
  .infocardContainer3:hover div *{
    --background-color: purple;
    display: flex;
    visibility: visible;
    transition: all 1s ease-out;
    transition-delay: 500ms;
    width: 100%;
    height: auto;
  }
  
  .infocardContainer3 #main, .infocardContainer3 #main img{
    --background-color: red;
    height: 200px;
    width: 200px;
    padding-right: 10px;
    border-radius: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }
  .infocardContainer3 #main img{
    height: 180px;
    width: 180px;
    transition: none;
    display: float;
    position: relative;
    border: 10px solid white;
    margin: 0 0 0 0; padding: 0 0 0 0;
  }
  .infocardContainer3 #textbois {
    position: relative;
  }
  .infocardContainer3 #textbois #hotlinks {
    max-width: 60%;
    max-height: 30px;
    
    --background-color: white;
    position:absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 13px;
  }
  .infocardContainer3 #textbois #hotlinks * {
    background-color: white;
    max-width: 30px;
    --margin: 0 1px 0 1px;
    border-radius: 25px;
  }

  /************/

  .infocardContainer4 * {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
  }
  h2 {
    font-weight: 600; font-style: italic; font-family: "Fira Sans Condensed", sans-serif;
  }
  header {
    height: 2em;
    background-color: #111122;
    margin: 0 0 0 0;
    padding: auto;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    color: white;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: #555566;
  }
  a:hover {
    text-decoration: underline;
  }
  .infocardContainer4 {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: rgb(0,159,255);
    background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
    transition: all 500ms ease-in;
    transition-delay: 1s;
    margin: auto;
    margin-top: 100px;
    --margin-top: 100px;
    margin-left:310px;
  }
  .infocardContainer4:hover {
    width: 500px;
    border-radius: 100px 10px 100px 100px;
    transition: all 1s ease-out;
  }
  
  .infocardContainer4 div {
    text-color: white;
    flex-shrink: 1;
    width: 100%;
    --background-color: green;
  }
  .infocardContainer4 div * {
    display: flex;
    --flex: inherit;
    overflow: hidden;
    text-overflow: hidden;
    --background-color: yellow;
    color: white;
    white-space: nowrap;
    width: 0;
    height: auto;
    transition: all 450ms ease-in;
    transition-delay: 1s;
  }
  .infocardContainer4:hover div *{
    --background-color: purple;
    display: flex;
    visibility: visible;
    transition: all 1s ease-out;
    transition-delay: 500ms;
    width: 100%;
    height: auto;
  }
  
  .infocardContainer4 #main, .infocardContainer4 #main img{
    --background-color: red;
    height: 200px;
    width: 200px;
    padding-right: 10px;
    border-radius: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }
  .infocardContainer4 #main img{
    height: 180px;
    width: 180px;
    transition: none;
    display: float;
    position: relative;
    border: 10px solid white;
    margin: 0 0 0 0; padding: 0 0 0 0;
  }
  .infocardContainer4 #textbois {
    position: relative;
  }
  .infocardContainer4 #textbois #hotlinks {
    max-width: 60%;
    max-height: 30px;
    
    --background-color: white;
    position:absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 13px;
  }
  .infocardContainer4 #textbois #hotlinks * {
    background-color: white;
    max-width: 30px;
    --margin: 0 1px 0 1px;
    border-radius: 25px;
  }

/**********/


.infocardContainer5 * {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
  }
  h2 {
    font-weight: 600; font-style: italic; font-family: "Fira Sans Condensed", sans-serif;
  }
  header {
    height: 2em;
    background-color: #111122;
    margin: 0 0 0 0;
    padding: auto;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    color: white;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: #555566;
  }
  a:hover {
    text-decoration: underline;
  }
  .infocardContainer5 {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: rgb(0,159,255);
    background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
    transition: all 500ms ease-in;
    transition-delay: 1s;
    margin: auto;
    margin-top: -190px;
    --margin-top: 100px;
    margin-left:820px;
  }
  .infocardContainer5:hover {
    width: 500px;
    border-radius: 100px 10px 100px 100px;
    transition: all 1s ease-out;
  }
  
  .infocardContainer5 div {
    text-color: white;
    flex-shrink: 1;
    width: 100%;
    --background-color: green;
  }
  .infocardContainer5 div * {
    display: flex;
    --flex: inherit;
    overflow: hidden;
    text-overflow: hidden;
    --background-color: yellow;
    color: white;
    white-space: nowrap;
    width: 0;
    height: auto;
    transition: all 450ms ease-in;
    transition-delay: 1s;
  }
  .infocardContainer5:hover div *{
    --background-color: purple;
    display: flex;
    visibility: visible;
    transition: all 1s ease-out;
    transition-delay: 500ms;
    width: 100%;
    height: auto;
  }
  
  .infocardContainer5 #main, .infocardContainer5 #main img{
    --background-color: red;
    height: 200px;
    width: 200px;
    padding-right: 10px;
    border-radius: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }
  .infocardContainer5 #main img{
    height: 180px;
    width: 180px;
    transition: none;
    display: float;
    position: relative;
    border: 10px solid white;
    margin: 0 0 0 0; padding: 0 0 0 0;
  }
  .infocardContainer5 #textbois {
    position: relative;
  }
  .infocardContainer5 #textbois #hotlinks {
    max-width: 60%;
    max-height: 30px;
    
    --background-color: white;
    position:absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 13px;
  }
  .infocardContainer5 #textbois #hotlinks * {
    background-color: white;
    max-width: 30px;
    --margin: 0 1px 0 1px;
    border-radius: 25px;
  }
